<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioApplication</key>
	<true/>
	<key>audioServeur</key>
	<false/>
	<key>urlJarvis</key>
	<string>http://192.168.xx.xx</string>
	<key>portJarvis</key>
	<string>8080</string>
	<key>fontStyle</key>
	<string>Arial</string>
	<key>fontSize</key>
	<integer>13</integer>
	<key>fontStyleJarvis</key>
	<string>Verdana</string>
	<key>fontSizeJarvis</key>
	<integer>13</integer>
	<key>keyApiJarvis</key>
	<string></string>
</dict>
</plist>
